{% include 'head.html' %}
<body>
    {% include 'common.html' %}
    <div class="container-all" id="drop-zone">
        {% include 'titlebar.html' %} 
        <div class="container-both">
            <div class="container-top" id="container-top">
                {% include 'top.html' %}
            </div>
            <div class="container-bottom">
                {% include 'bottom.html' %}
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/screenshot.js"></script>
    <script src="/static/js/concat.js"></script>
    <script src="/static/js/dialogs.js"></script>
    <script src="/static/js/render.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/trim.js"></script>
    <script src="/static/js/ui.js"></script>
    <script src="/static/js/undoredo.js"></script>
    <script src="/static/js/waveforms.js"></script>
    <script src="/static/js/keyhandler.js"></script>
</body>

