<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nanocut</title>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="index-container d-flex justify-content-center align-items-center rounded-3 text-center">
        <div>
            <h1>Drag your videos here</h1>
            <h6 class="index-h6">...or select files manually</h6>
            <input type="file" id="fileInput" style="display: none;" accept="video/*">
            <button onclick="chooseFile()" class="btn btn-index">Browse</button>
        </div>
    </div>

    <script>
        function chooseFile() {
            document.getElementById('fileInput').click();
        }

        document.getElementById('fileInput').addEventListener('change', function() {
            var file = this.files[0];
            var formData = new FormData();
            formData.append('video_file', file);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/editor', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Otrzymano odpowiedź od serwera, przekieruj użytkownika na stronę edytora
                    window.location.href = '/editor';
                } else {
                    console.error(xhr.statusText);
                }
            };
            xhr.send(formData);
        });

    </script>
</body>
</html>
