<div class="pywebview-drag-region" ondblclick="pywebview.api.window_maximize()">
    <div class="container-title">
        <img src="/static/assets/favicon.ico" class="titlebar-icon">
        <h6 id="filename" class="text-titlebar">
            {% if file_name %}
              {{ file_name }}
            {% else %}
              clipcat v0.21
            {% endif %}
          </h6>
          <h6 class="text-titlebar">
            {% if file_name %}
              -
            {% endif %}
          </h6>
          <h6 class="text-titlebar">
            {% if file_name %}
              clipcat by nokocu
            {% endif %}
          </h6>
    </div>
    {% if not browser_mode %}
    <div class="container-title-btns">
        <button id="minimizeBtn" class="btn-titlebar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg></button>
        <button id="maximizeBtn" class="btn-titlebar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5z"/></svg></button>
        <button id="exitBtn" class="btn-titlebar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg></button>
    </div>
    {% endif %}
</div>